<div id="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <p id="instruction">Guess the selected answer from Stack Overflow</p>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card id="questionCard" *ngFor="let question of questionDetail">
    <mat-card-header style="display: block;">
      <div id="header-container">
        <div id="user">
          <img mat-card-avatar src="{{question.owner.profile_image}}">
          <mat-card-title>{{question.owner.display_name}}</mat-card-title>
        </div>
        <div id="question">
          <div id="question-title">
            <h3>
              <div [innerHTML]="question.title"></div>
            </h3>
          </div>
          <div id="question-body" [innerHTML]="question.body_markdown">
          </div>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
  <mat-divider id=divider>
  </mat-divider>
  <app-answer-list></app-answer-list>
</div>
