@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#instruction {
  margin: auto;
}

#questionCard {
  max-width: 1700px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-container {
  display: flex;
  flex-direction: row;
}

#user {
  width: 90px;
  margin: auto;
  word-wrap: break-word;
}

#question {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 95%;
  align-content: center;
  padding-left: 10px;
}

#question-title {
  display: flex;
  margin-left: 10px;
}

#question-body {
  margin: 0 10px;
}

#divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-color: rgba(0, 0, 0, 0.12);
}
