@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.nav-link {
  cursor: pointer;
}

#title {
  flex: 1 1 auto;
  text-align: center;
}

#instruction {
  margin: auto;
}

#questionCard {
  margin: 10px;
  padding: 10px;
}

#header-container {
  display: flex;
}

#list {
  display: flex;
  flex-direction: column;
}

#user {
  width: 90px;
  margin: auto;
  word-wrap: break-word;
}

#question {
  height: 90%;
  width: 100%;
  display: flex;
  margin-left: 20px;
}

#question>.h3 {
  width: 100%;
}

#answerCount {
  margin: 10px 10px 0 auto;
}
