<div id="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span id="title">
        Select a question to see the availble answers
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="list">
    <mat-card id="questionCard" *ngFor="let question of acceptedQuestions"
      [routerLink]="['questions', question.question_id]">
      <mat-card-header id="header-container">
        <div id="user">
          <img mat-card-avatar src="{{question.owner.profile_image}}">
          <mat-card-title>{{question.owner.display_name}}</mat-card-title>
        </div>
        <div id="question">
          <h3 style="margin-left: 10px">
            <div [innerHTML]="question.title"></div>
          </h3>
          <div id="answerCount">
            <mat-icon matBadge="{{question.answer_count}}" matBadgeColor="accent">
              message
            </mat-icon>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
  </div>
</div>
