<div id="main">
  <mat-card id="answerCard" *ngFor="let answer of answers" (click)="openDialog(answer.is_accepted)">
    <mat-card-header style="display: block;">
      <div id="header-container">
        <div id="user">
          <img mat-card-avatar src="{{answer.owner.profile_image}}">
          <mat-card-title>{{answer.owner.display_name}}</mat-card-title>
        </div>
        <div id="answer" [innerHTML]="answer.body_markdown"></div>
      </div>
    </mat-card-header>
  </mat-card>
</div>
